scipy >= 1.2
numpy >= 1.16
XlsxWriter >= 1.1
Pandas >= 0.22
openpyxl >= 2.6
pytest >= 3.2
#fire >= 0.2.1 # Removed until moved to Python 3 due to using standard libraries not found in Python 2.7